<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="UTF-8">
<title>Product Insert</title>
</head>
<body>
	<div th:fragment="insertProduct_contents">
		<div style="display: flex; justify-content: center">
			<div class="col-sm-5 ">
				<div class="page-header text-center">

					<h1>登録画面</h1>
				</div>
				<form method="post" th:action="@{/insertProduct}"
					th:object="${insertProductForm}">
					<table class="table table-bordered table-hover">
						<!-- 商品名の入力エリア -->
						<tr>
							<th>商品名</th>
							<td><div class="form-group">
									<input type="text" class="form-control"
										th:field="*{productName}">
									<!-- 個別エラーメッセージの表示 -->
									<span class="text-danger"
										th:if="${#fields.hasErrors('productName')}"
										th:errors="*{productName}">productName_error</span>
								</div></td>
						</tr>
						<!-- 分類名の入力エリア -->
						<tr>
							<th>分類名</th>
							<td><select id="singleSelect" th:field="*{categoryId}"><option
										th:each="item:${selectItems}" th:value="${item.id}"
										th:text="${item.category_name}"></option></select></td>
						</tr>
						<!-- 会社名の入力エリア -->
						<tr>
							<th>会社名</th>
							<td><div class="form-group">
									<input type="text" class="form-control"
										th:field="*{companyName}">
									<!-- 個別エラーメッセージの表示 -->
									<span class="text-danger"
										th:if="${#fields.hasErrors('companyName')}"
										th:errors="*{companyName}">companyName_error</span>
								</div></td>
						</tr>
						<!-- 数量の入力エリア(固定) -->
						<tr>
							<th>数量</th>
							<td><div class="form-group">
									<input type="text" class="form-control" th:field="*{count}"readonly>
								</div></td>
						</tr>
					</table>
					<!-- 商品の登録ボタン -->
					<div class="d-md-flex justify-content-between">
						<button class="btn btn-primary" type="submit">登録確認画面へ</button>

						<button class="btn btn-secondary" type="button"
							onclick="history.back()">戻る</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</body>
</html>