<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Password Update</title>
</head>
<body>
	<div th:fragment="passwordUpdate_contents">
		<div style="display: flex; justify-content: center">
			<div class="col-sm-5">
				<div class="page-header text-center">
					<h1>ログインユーザーのパスワードを更新</h1>
				</div>
				<form method="post" th:action="@{/passwordUpdate}"
					th:object="${passwordUpForm}">
					<table class="table table-bordered table-hover">
						<tr>
							<!-- ユーザーID(入力不可) -->
							<th class="active col-sm-2">ユーザーID</th>
							<td>
								<p th:text="${uid}"></p><input type="hidden" class="form-control"
							th:field="*{userId}">
							</td>
						</tr>
						<tr>
							<!-- パスワード -->
							<th class="active col-sm-2">パスワード</th>
							<td><input type="text" class="form-control"
								th:field="*{password}" placeholder="半角英数字8文字以上で入力">
								<div class="form-group"
									th:classappend="${#fields.hasErrors('password')}?'has-error'">
									<span class="text-danger"
										th:if="${#fields.hasErrors('password')}"
										th:errors="*{password}">password error</span>
								</div></td>
						</tr>
					</table>
					<div class="d-md-flex justify-content-between">
						<button class="btn btn-primary " type="submit">更新</button>
						<button class="btn btn-secondary" type="button"
							onclick="history.back()">キャンセル</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</body>
</html>