<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="UTF-8">
<title>SignUp</title>
</head>
<body>
	<div th:fragment="signUp_contents">
		<div style="display: flex; justify-content: center">
			<div class="col-sm-5 ">
				<div class="page-header">
					<h1 class="text-center">ユーザー登録画面</h1>
				</div>
				<form method="post" th:action="@{/signUp}" th:object="${signUpForm}">
					<table class="table table-bordered tabale-hover">
						<!-- ユーザーIDの入力エリア -->
						<tr>
							<th class="active col-sm-3">ユーザーID</th>
							<td><div class="form-group">
									<input type="text" class="form-control" th:field="*{userId}"
										placeholder="(例)aaa@xxx.co.jp">
									<!-- 個別エラーメッセージの表示 -->
									<span class="text-danger"
										th:if="${#fields.hasErrors('userId')}" th:errors="*{userId}">userId
										error</span>
								</div></td>
						</tr>
						<!-- ユーザー名の入力エリア -->
						<tr>
							<th class="active col-sm-3">ユーザー名</th>
							<td><div class="form-group">
									<input type="text" class="form-control" th:field="*{userName}">
									<!-- 個別エラーメッセージの表示 -->
									<span class="text-danger"
										th:if="${#fields.hasErrors('userName')}"
										th:errors="*{userName}">userName error</span>

								</div></td>
						</tr>
						<!-- パスワードの入力エリア -->
						<tr>
							<th class="active col-sm-3">パスワード</th>
							<td><div class=form-group>
									<input type="text" class="form-control" th:field="*{password}"
										placeholder="半角英数字8文字以上">
									<!-- 個別エラーメッセージの表示 -->
									<span class="text-danger"
										th:if="${#fields.hasErrors('password')}"
										th:errors="*{password}">password error</span>
								</div></td>
						</tr>
						<!-- 誕生日の入力エリア -->
						<tr>
							<th class="active col-sm-3">誕生日</th>
							<td><div class=form-group>
									<input type="text" class="form-control" th:field="*{birthday}"
										placeholder="yyyy/MM/dd">
									<!-- 個別エラーメッセージの表示 -->
									<span class="text-danger"
										th:if="${#fields.hasErrors('birthday')}"
										th:errors="*{birthday}">birthday error</span>
								</div></td>
						</tr>
						<tr>
							<!-- 雇用形態の入力エリア -->
							<th class="active col-sm-3">雇用形態</th>
							<td>
								<div class="form-group ">
									<div th:each="item:${radioRole}">
										<!-- 管理者が登録を行う時、雇用形態に全部のラジオボタンを表示 -->
										<div sec:authorize="hasRole('K')">
											<input type="radio" name="radioRole" th:value="${item.value}"
												th:text="${item.key}" th:field="*{role}">

										</div>
										<!-- 管理者以外が登録を行う時、雇用形態に管理者を除くラジオボタンを表示 -->
										<div sec:authorize="!hasRole('K')">
											<input th:if="${item.value!='ROLE_K'}" type="radio"
												name="radioRole" th:value="${item.value}"
												th:text="${item.key}" th:field="*{role}">
										</div>
									</div>
									<!-- 個別エラーメッセージの表示 -->
									<span class="text-danger " th:if="${#fields.hasErrors('role')}"
										th:errors="*{role}">role error</span>
								</div>
							</td>
						</tr>
					</table>
					<!-- ユーザー登録ボタン -->
					<div class="d-md-flex justify-content-between">
						<button class="btn btn-primary" type="submit">登録確認へ</button>
						<button class="btn btn-secondary pull-right" type="button"
							onclick="history.back()">キャンセル</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</body>
</html>